<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Firstname:</b>
  <%= @order.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @order.lastname %>
</p>

<p>
  <b>Fathername:</b>
  <%= @order.fathername %>
</p>

<p>
  <b>Country:</b>
  <%= @order.country %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @order.zipcode %>
</p>

<p>
  <b>Address:</b>
  <%= @order.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @order.phone %>
</p>

<p>
  <b>Articles:</b>
  <%= @order.articles %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
