<% title resource.title %>
<h1><%= resource.title %></h1>

<% unless resource.articles.all.blank? %>
  <% resource.articles.each do |a|%>
    <div class="items">
      <div class="item-field">
        <div class="item-pic"><%= image_tag(a.little_pic) %><span class="frame"><%= link_to nil, a, :class => "item-link" %></span></div>
        <div class="item-desc">
          <p><strong><%= link_to a.name, a %></strong></p>
          <p><%= a.short %></p>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate(collection) %>
<% else %>
  <p>Здесь пока нет товаров</p>
  <br /><br />
<% end %>

