<div class="menu">
  <ul>
    <li><%= link_to(image_tag("menu-home.png",:size => "150x47"), root_path) %></li>
    <li><%= link_to(image_tag("menu-info.png",:size => "150x47"), informations_path) %></li>
    <li class="products"><%= image_tag("menu-products.png",:size => "150x47") %>
      <ul>
        <% Category.all.each do |cat| %>
          <li><%= link_to cat.title, cat %></li>
        <% end %>
      </ul>
    </li>
    <li><%= link_to(image_tag("menu-faq.png",:size => "150x47"), questions_path) %></li>
  </ul>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('li.products').hover(
      function() { $('ul', this).css('display', 'block'); },
      function() { $('ul', this).css('display', 'none'); }
    );
  });
</script>
